.navbar {
  width: 100%;
  background-color: aliceblue;
  margin: 0;
  padding: 10px;
}

.navbar_menu_item {
  display: inline-block;
  margin: 10px;
}

.navbar_logo {
  display: inline-block;
  margin: 10px;
}
