.navbar {
  background-color: var(--color-navbar);
  padding: var(--spacing-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--spacing-2);
}

.navbar:hover {
  cursor: pointer;
}

.navbarLogo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: auto;
}

.navbarButton {
  margin-right: var(--spacing-3);
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
}
